<% include layout/header.ejs %>
	<div class="container-fluid px-0">
		<div class="row justify-content-end mr-2">
			<p class="font-weight-light mb-0 rounded" id="email">[<%= userEmail %>]</p>
		</div>
		<div class="row mx-0">
			<div class="col-1 pr-0"></div>
			<div class="col-10 mt-0 px-0">
		        <div class="row justify-content-md-center mb-3">
		            <div class="col-9 pl-0">
						<form  method="post" action="/add" class="form-inline" id="editForm">
							<div class="col-10 form-group pr-0  mr-3">
				   				<textarea class="form-control shadow-sm" style="width: 100%" name="description" rows="3" placeholder="Write your task here..." id="editDesc"></textarea>
			   				</div>
							<div class="form-group"  style="display:none;">
								<input type="text" name="taskId" value="" id="editId"/>
							</div>
							<div class="col-1">
			   					 <button type="button" class="btn btn-primary shadow-sm float-left" id="add" onclick="addTask()">Add</button>
			   				</div>
						</form>
		            </div>
					<div class="col-1">
		            </div>
		        </div>
				<div class="row mb-3"></div>
				<div class="row justify-content-md-center mb-3">
				   <div class="col-10">
						<% tasks.forEach(function(task){ %>
							<div class="row justify-content-md-center my-1" id="task">
								<div class="col-9 align-self-center">
									<div class="alert alert-primary shadow-sm" id="taskText">
										<h5 class="alert-heading"><b class="font-weight-light">Owner: </b><%= task.creator %></h5>
										<p><b class="font-weight-light">Description: </b><%= task.description %></p>
									</div>
								</div>
								<div class="col-3 align-self-center">
									<div class="row justify-content-start mb-3">
							            <div class="d-inline-flex px-3">
											<button type="button" class="btn btn-danger shadow-sm" onclick="remove('<%= task._id %>')">Delete</button>
							            </div>
										<div class="d-inline-flex pl-0">
										   <button type="button" class="btn btn-warning shadow-sm" onclick="edit('<%= task._id %>', '<%= task.description %>')" >Edit</button>
									   </div>
							        </div>
									<div class="row justify-content-md-center mb-3">
							            <div class="col">
											<div class="dropdown">
										          <button class="btn btn-success dropdown-toggle  shadow-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											            Share
										          </button>
										          <div class="dropdown-menu" aria-labelledby="share">
														<% emails.forEach(function(email){ %>
															<a class="dropdown-item" onclick="share('<%= task._id %>', '<%= email %>')"><%= email %></a>
													    <% }); %>
										          </div>
									        </div>
							            </div>
							        </div>
								</div>
							</div>
					    <% }); %>
					</div>
				</div>
			</div>
			<div class="col-1 px-0">
				<div class="row p-0 m-0 justify-content-end">
					<button type="button" class="btn btn-secondary shadow-sm mr-2 mt-2 pull-right" onclick="signout()">Sign out</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function addTask(){
			let description = $('textarea#editDesc').val();
			if(description.split(" ").join("").length != 0){
				$('#editForm').submit();
			}else{
				$("textarea#editDesc").val("");
				alert("Description can`t be empty!");
			}
		}
		function edit(id, desc) {
			addButton = $("#add");
			addButton.html('Update');
			addButton.removeClass("btn-primary")
			addButton.addClass("btn-warning");
			$("textarea#editDesc").val(desc);
			$("input#editId").val(id);
			$('#editForm').attr('action', '/edit');
		}
		function share(taskId, email) {
            var newForm = jQuery('<form>', {
                'action': '/share',
                'method': 'post',
                'style': 'display:none;'
            })
			newForm.append(jQuery('<input>', {
                'name': 'taskId',
                'value': taskId,
                'type': 'hidden'
            }));
			newForm.append(jQuery('<input>', {
                'name': 'userEmail',
                'value': email,
                'type': 'hidden'
            }));
            $(document.body).append(newForm);
            newForm.submit();
		}
		function remove(taskId) {
			var newForm = jQuery('<form>', {
                'action': '/remove',
                'method': 'post',
                'style': 'display:none;'
            })
			newForm.append(jQuery('<input>', {
                'name': 'taskId',
                'value': taskId,
                'type': 'hidden'
            }));
            $(document.body).append(newForm);
            newForm.submit();
		}
		function signout() {
			var newForm = jQuery('<form>', {
                'action': '/signout',
                'method': 'post',
                'style': 'display:none;'
            });
            $(document.body).append(newForm);
            newForm.submit();
		}
	</script>
<% include layout/footer.ejs %>
